html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#map {
    position: relative;
    width: 100%;
    height: 100%;
}

#sidebar {
    width:250px;
    height: 40vh; /* mobile initial */
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

#sidebar-content {
    flex: 1;
    overflow-y: auto;
}

/* Drag handle */
#drag-handle {
    height: 25px;
    background-color: grey;
    cursor: ns-resize;
    flex-shrink: 0;
    display: none;
}

/* Mobile adjustments */
@media (max-width: 1024px) {
    #sidebar {
        width: 100%;
        height: 40vh;
        order: 2; /* move sidebar below map */
    }

    #map {
        height: 60vh;
        order: 1; /* map above */
    }

    #drag-handle {
        display: flex !important;
    }
}



.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}