<!DOCTYPE html>
<html>
<head>
<title>Logistics Dashboard</title>

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container">

<div class="sidebar">
<!-- 
<h2>Operators</h2>
<ul id="operators-list"></ul>
 -->
<!-- Chat flotante -->
<div id="chat-widget">
    <div id="chat-header">Where do you want to go?</div>
    <input type="text" id="chat-input" placeholder="Write your destination...">
    <button id="chat-send">Search</button>
    <div id="chat-result"></div>
</div>

</div>
<div id="map"></div>

</div>




<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />

<script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>

<script src="/static/map.js"></script>

</body>
</html>