<!DOCTYPE html>
<html>
<head>
<title>Logistics Dashboard</title>

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container">

<div class="sidebar">
<h2>Logistics Panel</h2>

<ul>
<li>Vehicles</li>
<li>Routes</li>
<li>Deliveries</li>
<li>Analytics</li>
</ul>

</div>

<div id="map"></div>

</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="/static/map.js"></script>

</body>
</html>